__pycache__/
*.pyc
.venv/
.localdata/
build/
dist/
.DS_Store
.vscode/
*.apk
*.aab
*.exe
*.deb
android/.android-sdk/
android/.jdk17/
android/.gradle/
android/.gradle-user-home/
android/keystore/
android/keystore.properties
android/.kotlin/
android/local.properties
android/app/build/
android/build/
.env
*.keystore
